@{
    ViewData["Title"] = "Kazanç Sistemi - Anket Kazan";
}
<section class="py-5">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5"><img class="rounded img-fluid shadow" src="assets/img/products/anketresmi1.jpg"></div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold">Para kazanmanın en kolay yolu</h5>
                    <p class="text-muted mb-4">Anket Kazan üzerinden katıldığın her ankette belirlenen miktarda nakit para kazanırsın. Kazancın 20 TL’ye ulaştığında ödeme talebinde bulunabilirsin.</p>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col order-md-last mb-5"><img class="rounded img-fluid shadow" src="assets/img/products/anketresmi2.jpg"></div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold">Para kazanmanın en güvenli yolu</h5>
                    <p class="text-muted mb-4">Ödeme yapılabilmesi için senin adına açılmış hesapları kullanman gerekmektedir. Ödemeler senden başka birinin adına/hesabına yapılamaz.</p>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col mb-5"><img class="rounded img-fluid shadow" src="assets/img/products/anketresmi3.jpg"></div>
            <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
                <div>
                    <h5 class="fw-bold">Para kazanmanın en hızlı yolu</h5>
                    <p class="text-muted mb-4">Anket kazan üzerinden katıldığın her ankette maksimum 10 soru bulunur. Oldukça hızlı ve sorunsuz bir kazanç elde edersin.</p>
                </div>
            </div>
        </div>
    </div>
</section>